config-devices.*
config-all-devices.*
config-host.*
config-target.*
trace.h
trace.c
trace-dtrace.h
trace-dtrace.dtrace
*-timestamp
*-softmmu
*-darwin-user
*-linux-user
*-bsd-user
libdis*
libhw32
libhw64
libuser
qemu-doc.html
qemu-tech.html
qemu-doc.info
qemu-tech.info
qemu.1
qemu.pod
qemu-img.1
qemu-img.pod
qemu-img
qemu-nbd
qemu-nbd.8
qemu-nbd.pod
qemu-options.def
qemu-options.texi
qemu-img-cmds.texi
qemu-img-cmds.h
qemu-io
qemu-monitor.texi
QMP/qmp-commands.txt
.gdbinit
*.aux
*.cp
*.dvi
*.exe
*.fn
*.ky
*.log
*.pdf
*.pg
*.pyc
*.toc
*.tp
*.vr
*.d
*.o
.pc
patches
pc-bios/bios-pq/status
pc-bios/vgabios-pq/status
pc-bios/optionrom/linuxboot.bin
pc-bios/optionrom/multiboot.bin
pc-bios/optionrom/multiboot.raw
.stgit-*
cscope.*
tizen/Makefile
tizen/autom4te.cache/output.0
tizen/autom4te.cache/requests
tizen/autom4te.cache/traces.0
tizen/config.status
tizen/configure
tizen/src/Makefile
tizen/src/emulator-x86
tizen/src/emulator-arm
tizen/src/emulator-manager
roms/seabios/config.mak
roms/vgabios/config.mak
target-i386/libGL.so.1
*.swp
*.swo
tizen/Emulator/
tizen/Makefile
tizen/autom4te.cache/
tizen/config.status
tizen/configure
tizen/src/Makefile
tags
tizen/tags
tizen/src/tags
/tizen/distrib/ffmpeg/shared/libavcodec.a
/tizen/distrib/ffmpeg/shared/libavcodec.so
/tizen/distrib/ffmpeg/shared/libavcodec.so.52
/tizen/distrib/ffmpeg/shared/libavcodec.so.52.72.2
/tizen/distrib/ffmpeg/shared/libavdevice.a
/tizen/distrib/ffmpeg/shared/libavdevice.so
/tizen/distrib/ffmpeg/shared/libavdevice.so.52
/tizen/distrib/ffmpeg/shared/libavdevice.so.52.2.0
/tizen/distrib/ffmpeg/shared/libavfilter.a
/tizen/distrib/ffmpeg/shared/libavfilter.so
/tizen/distrib/ffmpeg/shared/libavfilter.so.1
/tizen/distrib/ffmpeg/shared/libavfilter.so.1.19.0
/tizen/distrib/ffmpeg/shared/libavformat.a
/tizen/distrib/ffmpeg/shared/libavformat.so
/tizen/distrib/ffmpeg/shared/libavformat.so.52
/tizen/distrib/ffmpeg/shared/libavformat.so.52.64.2
/tizen/distrib/ffmpeg/shared/libavutil.a
/tizen/distrib/ffmpeg/shared/libavutil.so
/tizen/distrib/ffmpeg/shared/libavutil.so.50
/tizen/distrib/ffmpeg/shared/libavutil.so.50.15.1
/tizen/distrib/ffmpeg/shared/libswscale.a
/tizen/distrib/ffmpeg/shared/libswscale.so
/tizen/distrib/ffmpeg/shared/libswscale.so.0
/tizen/distrib/ffmpeg/shared/libswscale.so.0.11.0
/tizen/distrib/ffmpeg/shared/pkgconfig/libavcodec.pc
/tizen/distrib/ffmpeg/shared/pkgconfig/libavdevice.pc
/tizen/distrib/ffmpeg/shared/pkgconfig/libavfilter.pc
/tizen/distrib/ffmpeg/shared/pkgconfig/libavformat.pc
/tizen/distrib/ffmpeg/shared/pkgconfig/libavutil.pc
/tizen/distrib/ffmpeg/shared/pkgconfig/libswscale.pc
/tizen/aa
